Library/*
Temp/*
obj/*
Logs/*
UserSettings/*
*.csproj
*.sin
.vs/*
.svn/*
UnityDOW.sln
Packages/packages-lock.json
Assets/Test
Assets/Test.meta
Assets/Test/*
proj.*

# IDE
.vscode
.vs
.idea

# TEMP
result.log

# OS
.DS_Store

# Cached Data
datasheet.xlsx
Assets/Scripts/Gen
Assets/Resources/Data
